<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sty.css">
    <title>My page</title>
</head>
<body>
    <h1>Amelia & Isabella</h1>
    <br>
    <br>

    <div class="container">
        <div class="column s1">
           
        </div>
        <div class="column s2">
           
        </div>
        <div class="column s3">
            
        </div>
    </div>

</body>
</html>
